<a href="https://colab.research.google.com/github/YangJeongA/EnglishPhonetics-2022Fall/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas: python data analysis library
- pandas는 엑셀이라고 생각하면 됨 

-> 2차원의 행과 열로 이루어져 있다는 점에서!
  
-> python에서 2차원의 행과 열을 dataframe이라고 하는데, 이것을 처리하는데 활용하는 pakcage가 pandas (숫자, 텍스트 모두가 데이터로 들어감)

#Importing libraries

In [ ]:
import pandas as pd

#DataFrame 만드는 법


#1. Loading csv file

In [ ]:
#pandas library 중 read_csv() 함수


df = pd.read_csv("/content/sample_data/california_housing_train.csv", sep=",")       # df(data frame)  ->  excel 타입으로 생긴 변수
df

#file을 불러와서 dataframe으로 바꿔줌

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
print(df.size); print(df.ndim); print(df.shape)


# size -> cell의 개수 (17000*9)
# ndim -> 몇차원인가?
# shape ->  (rows 수, columns 수)

153000
2
(17000, 9)

In [ ]:
df.describe()


# 기본적인 통계 정보를 뽑아줌

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

#Saving to CSV

In [ ]:
df.to_csv('california_housing.csv')


#( )안에 임의의 파일명
#변수(위의 경우 df)에 담긴 내용을 파일로 저장

#2. Constructing a DataFrame using Dict

csv파일 통하지 않고 df만들기

In [ ]:
# Some input data - a small sample of the iris dataset

data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}


# 각각의 key 값과 짝 지어진 값의 개수(리스트 항목 개수)는 모든 항목이 같아야 함 - 위의 경우 각각 5개
# dict의 key 값이 column명이 됨

df = pd.DataFrame(data)
df

# 얘도 파일로 저장하고 싶으면 df.to_csv('')로 저장해주면 됨

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

#3. Constructing a DataFrame using pd.Series

In [ ]:
# pd.Series()함수


sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

# pd.Series함수를 통해 내용을 먼저 만들어준 후 pd.DataFrame 함수를 활용하여 dataframe을 만들어 줌

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

#Changing column names

In [ ]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'SPECIES'],
      dtype='object')

In [ ]:
# Change the columns


df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

# Accessing columns

In [ ]:
# Access one column


df.loc[:, 'sepal_length']       #   : 은 전부 다 가져온다는 뜻

# df.loc[행 정보, 열 정보]

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access one column (short-hand)


df['sepal_length']

# df['column명']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access one column (shortest-hand)


df.sepal_length

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access two columns


df.loc[:, ['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

In [ ]:
# Access two columns (short-hand)


df[['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

#Accessing rows

In [ ]:
# Access one row 


df.loc[3, :]

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 3, dtype: object

In [ ]:
# Access two rows


df.loc[[3, 0], :]

   sepal_length  sepal_width  petal_length  petal_width     species
3           5.4          3.0           4.5          1.5  versicolor
0           6.9          3.2           5.7          2.3   virginica

In [ ]:
# Access a range of rows


df.loc[2:5, :]     #2~4번째 rows를 가져옴(5번째 포함x)

   sepal_length  sepal_width  petal_length  petal_width     species
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

In [ ]:
# Filter keeping only rows with `sepal_length` > 5


df[df.sepal_length > 5]

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
3           5.4          3.0           4.5          1.5  versicolor

# Accessing a cell

In [ ]:
df.loc[:, 'sepal_length'][4]

4.6

In [ ]:
df['sepal_length'][4]

4.6

In [ ]:
df.sepal_length[4]

4.6

# Adding/Removing new columns

In [ ]:
# Adding new columns


df['new_column'] = 1
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [ ]:
df['new_column'] = [1, 2, 3, 4, 5]
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

In [ ]:
# Removing columns


df = df.drop('new_column', axis=1) 
df

# axis=1: column   -> column에서 'new_column (지우고자 하는 열 정보)'을 찾으라는 뜻
# axis 1은 column, 0은 row를 의미함.

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

# Adding/Removing new rows

In [ ]:
# Adding new rows


df.loc[5, :] = ''
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5

In [ ]:
# Removing rows


df = df.drop(5, axis=0)    # axis=0: row
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa